@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #292929;
}

body {
  overflow-x: hidden;
  color: #fff;
}

/* -------------navbar---------------- */
nav {
  background-color: var(--dark-grey);
  width: 2000px;
  height: 140px;
  padding-top: 40px;
  padding-left: 77px;
}

nav div {
  height: 60px;
  width: 193px;
  border: 1px solid white;
  display: grid;
  place-items: center;
}

nav div p {
  font-family: "DM sans", serif;
  font-size: 1.8rem;
  letter-spacing: -2px;
}

/* -------------------hero section------------------- */
#hero {
  background: url(../src/files/hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 80vh;
  padding-left: 77px;
  padding-right: 873px;
  padding-top: 109px;
  padding-bottom: 159px;
}

#hero .heroText {
  max-width: 490px;
  min-height: 282px;
}

#hero .heroText p {
  font-weight: 700;
  font-size: 72px;
}

/* -------------------search------------------------ */
.search {
  margin: 40px 20px;
}

.search p {
  margin-bottom: 10px;
  color: #000;
}

.search input {
  width: 1306px;
  max-width: 100%;
  height: 34px;
  border: 1px solid #000000;
}
